
.card{
    text-align: center;
    width: 20%;
    background-image: linear-gradient(120deg, #e7d7a1,#eba28e);
    font-family: "Poppins", sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: xx-large;
    text-align: center;
    font-weight: 500;
}

input.ng.invalid{
    border: 1px solid red;
}

input.ng.valid{
    border: 1px solid green;
}

.error{
    color: red;
    font-size: small;
}

label{
    text-decoration: underline;
    display: inline-block;
    
}

form button:hover{
    background-color: wheat;
}